<a href="#" class="Banner">
  <p class="Banner-smallText">Besoin de comprendre le droit du travail ?</p>
  <div class="Banner-content">
    <p class="Banner-text Banner-text--light">Découvrez</p>
    <p class="Banner-text Banner-text--bold">
      Le droit du travail en<br>
      infographies pratiques 2021
    </p>
  </div>
  <img src="/assets/images/arrow_right.svg" alt="Flèche pointant vers la droite" class="Banner-arrow">
  <img src="/assets/images/couverture_ouvrage.png"
    alt="Couverture de l'ouvrage le droit du travail en infographies"
    class="Banner-image">
</a>
