<footer>
  <div class="Section Section--blue">
    <div class="container">
      <div class="Row">
        <div class="Col Col--third Footer-address">
          <p>Société HOGO Avocats </p>
          <address>
            103 avenue Maréchal de Saxe<br>
            69003 LYON
          </address>
        </div>
        <div class="Col Col--third Footer-legal">
          <ul>
            <li>Mentions légales</li>
            <li>Tous droits réservés</li>
            <li>Copyright 2019</li>
          </ul>
        </div>
        <div class="Col Col--third">
          <div class="Footer-icons">
            <a href="https://twitter.com/ColySofiane" target="_blank">
              <i class="fab fa-twitter "></i>
            </a>
            <a href="https://www.linkedin.com/company/hogo-avocats/" target="_blank">
              <i class="fab fa-linkedin-in Footer-lastIcon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
