.Banner {
  display: flex;
  align-items: center;
  background-color: $blue;
  height: 4.5rem;
  color: white;
  padding: 0 3.5rem;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: 300ms;

  &-smallText {
    font-weight: bold;
    flex-grow: 1;
  }

  &-content {
    display: none;

    @media (min-width: 1230px) {
      display: flex;
      align-items: baseline;
      margin-right: 2rem;
    }
  }

  &-text {
    font-size: 1.2rem;
    text-transform: uppercase;

    &--light {
      font-weight: lighter;
      margin-right: 0.5rem;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &-arrow {
    margin-right: 0rem;
    padding-left: 2rem;

    @media (min-width: 1230px) {
      margin-right: 2rem;
    }
  }

  &-image {
    display: none;

    @media (min-width: 1230px) {
      height: 100%;
      display: inline-block;
    }
  }

  &:hover {
    color: $yellow-lighter;
  }
}
