body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}
