.Home {

  &-header {
    min-height: auto;
    display: block;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      min-height: 100vh;
    }
  }

  &-image {

    &--large {
      width: 100%;
      height: auto;
    }

    &--medium {
      width: 60%;
      height: auto;
    }
  }

  &-title {
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 2.2rem;
    }

    @media (min-width: 960px) {
      font-size: 2.6rem;
    }
  }

  &-subtitle {
    font-size: 1.2rem;
    color: $dark;

    @media (min-width: 960px) {
      font-size: 1.4rem;
    }

    &--noMarginTop {
      margin-top: 0;
    }
  }
}
