.Section {

  padding: 4rem 0;

  &--noPaddingBottom {
    padding-top: 4rem;
  }

  &--gradient {
    background: linear-gradient($white, $very-light-grey);
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &-firstBloc {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &-bloc {
    margin-bottom: 4rem;
  }

  &-title {
    margin-bottom: 3rem;
  }
}
